# Первичный анализ данных (В разработке)

## Библиотеки

In [1]:
import pandas as pd
from utils import HM

## Загрузка данных

In [2]:
hm = HM()

articles = hm.get_articles(is_prepared=True)
customers = hm.get_customers(is_prepared=True)
sample_submission = hm.get_sample_submission(is_prepared=True)
transactions_train = hm.get_transactions_train(is_prepared=True)

## Осмотр каждого файла датасета

### Articles - Данные о товаре

In [3]:
articles.head(1)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.

In [4]:
articles.shape

(105542, 25)

### Customers

Данные о клиенте

In [5]:
customers.head(1)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...

In [6]:
customers.shape

(1371980, 7)

### Sample_submission

Пример решения

In [7]:
sample_submission.head(1)

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...

In [8]:
sample_submission.shape

(1371980, 2)

### Transactions_train

Обучающие данные

In [9]:
transactions_train.head(1)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2

In [10]:
transactions_train.shape

(31788324, 5)

## Пристально рассмотрим обучающие данные

Глянем на транзакции одного из клиентов

In [11]:
train_sample = transactions_train[transactions_train['customer_id'] == '000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318']

In [12]:
train_sample

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
165807,2018-09-24,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
6827145,2019-03-01,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,578020002,0.013542,2
21953950,2020-02-03,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,723529001,0.025407,2
21953951,2020-02-03,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,351484002,0.022017,2
21953952,2020-02-03,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,351484002,0.022017,2
23934157,2020-04-01,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,727808001,0.067780,2
23934158,2020-04-01,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,727808007,0.067780,2
24773518,2020-04-18,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,858883002,0.030492,2
24773519,2020-04-18,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,851400006,0.059305,2
24773520,2020-04-18,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,750424014,0.042356,2
24773521,2020-04-18,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,750424014,0.042356,2
24773522,2020-04-18,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,870304002,0.033881,2
24773523,2020-04-18,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,870304002,0.033881,2
24773524,2020-04-18,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,852643001,0.025407,2
24773525,2020-04-18,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,852643003,0.025407,2
31521960,2020-09-15,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,794321007,0.061000,2

__Вывод__

1. Клиент покупает товары в магазине не каждый месяц, при этом средняя стоимость покупок составляет 0.039154 у.е.
2. Существует только один не уникальный купленный товар. 663713001 - Его купили 2 раза.

Посмотрим на товар, купленный несколько раз.

In [13]:
articles.set_index('article_id').loc[663713001]

product_code                                                               663713
prod_name                                                Atlanta Push Body Harlow
product_type_no                                                               283
product_type_name                                                  Underwear body
product_group_name                                                      Underwear
graphical_appearance_no                                                   1010016
graphical_appearance_name                                                   Solid
colour_group_code                                                               9
colour_group_name                                                           Black
perceived_colour_value_id                                                       4
perceived_colour_value_name                                                  Dark
perceived_colour_master_id                                                      5
perceived_colour_master_name                                                Black
department_no                                                                1338
department_name                                               Expressive Lingerie
index_code                                                                      B
index_name                                                       Lingeries/Tights
index_group_no                                                                  1
index_group_name                                                       Ladieswear
section_no                                                                     61
section_name                                                      Womens Lingerie
garment_group_no                                                             1017
garment_group_name                                              Under-, Nightwear
detail_desc                     Lace push-up body with underwired, moulded, pa...
Name: 663713001, dtype: object

In [14]:
customers.set_index('customer_id').loc['000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318']

FN                                                                      NaN
Active                                                                  NaN
club_member_status                                                   ACTIVE
fashion_news_frequency                                                 NONE
age                                                                    24.0
postal_code               64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
Name: 000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318, dtype: object

Судя по купленной одежде - клиент является женщиной. И еще мы знаем, что ей 24 года.